<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Werewolf Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/flipclock.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <div class="container" ng-controller="ChatController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://c9.io" class="brand">Cloud9 IDE</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>Werewolf Project</h1>
      </div>
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list well">
            <li class="nav-header">Players</li>
            <li ng-repeat="user in roster" ng-bind="user">
            </li>
          </ul>
        </div>
        <div class="span2" ng-hide="state">
          <div class="row controls">
            <div class="span2"><input type="text" class="input-block-level" ng-model="name" ng-change="setName()" placeholder="Your Name"></div>
            <button class="span2 btn btn-primary" ng-click="startGame()">Start Game!</button>
          </div>
        </div>
        
        <div class="span4" ng-hide="!state">
          <h2>You are a <b>{{role}}</b>!<h2>
          <div id="roleevent"></div>
          <div id="counter" ng-hide="hidetimer">Time remaining: {{timeleft}}</div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/flipclock.min.js"></script>
    <!-- SCRIPTS -->
    
    <script>
      function ChatController($scope) {

        var socket = io.connect();
        
        $scope.hidetimer = true;
        $scope.timeleft = 0;
        $scope.state = 0;

        $scope.roster = [];
        $scope.role = '';
        $scope.name = '';

        socket.on('connect', function () {
          $scope.setName();
        });

        socket.on('roster', function (names) {
          $scope.roster = names;
          $scope.$apply();
        });
        
        socket.on('startclock', function(seconds){
          $scope.enableRoleEvent();
          $scope.enableTimer(30);
        });

        socket.on('tellrole', function (role){
          $scope.role = role;
          if(!(role == 'none' || role == '')) $scope.state = 1;
          $scope.$apply();
        });

        socket.on('startgame', function(){
          $scope.state = 1;
        });

        $scope.startGame = function startGame(){
          socket.emit('startgame');
        };

        $scope.setName = function setName() {
          socket.emit('identify', $scope.name);
        };
        
        $scope.enableRoleEvent = function enableRoleEvent(){
          switch($scope.role){
            case 'werewolf':
              $('#roleevent').html("<p>Who dya wanna kill?</p><button class='btn btn-danger'>Lol</button>");
              break;
          }
        }
        
        $scope.enableTimer = function enableTimer(time){
          if($scope.hidetimer == true){
            $scope.timeleft = time;
            $scope.hidetimer = false;
            setInterval(function(){
              $scope.timeleft -= 1;
              $scope.$apply();
              if($scope.timeleft == 0){
                //O QUE FAZER QUANDO ACABAR A CONTAGEM
                $scope.hidetimer = true;
                $('#roleevent').html("");
                clearInterval();
              }
            }, 1000);            
          }
        }
      }
    </script>
    
    <!-- SCRIPTS END -->
  </body>
</html>
